.teaching-group {
    margin-bottom: 3rem;
}

.teaching-group::after {
    display: table;
    content: "";
    clear: both;
}

.teaching-dropdown {
    display: block;
}

.teaching-button-confirm {}

#image-classification-row {
    padding: 15px 0;
}

.teaching-dropdown {
  margin: 10px 0;
}
