{% extends 'layout.jinja2.html' %}

{% block title %}Latest Snapshots{% endblock %}

{% block css %}
        {{ link_tag('main') }}
{% endblock %}

{% block body %}
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Transforms &amp; Blobs</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for db_image in db_images %}
                        <tr style="display: none;">
                            <td class="image-thumbnail">{{ linked_image(db_image.title, db_image.img_url) }}</td>
                            <td>{{ image_accordion(db_image._id, db_image.transforms, db_image.blobs) }}</td>
                            <td><span class="label label-danger">{{ db_image.date_created|human_date }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}

{% block js %}
        {{ script_tag('hnfake') }}
        {{ script_tag('cookies') }}
        {{ script_tag('animation') }}
        {{ script_tag('firstuser') }}
        {{ script_tag('main') }}
{% endblock %}
