{% from 'util.jinja2.html' import link_tag, script_tag, tracked_link, linked_image, image_accordion, static_image_tag, image_class_sections%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SnackWatcher - {% block title %}{% endblock %}</title>

        {{ link_tag('lib/bootstrap') }}
        {{ link_tag('fonts/open_sans_stylesheet') }}
        {{ link_tag('main') }}

        {% block css %}
        {% endblock %}

    </head>
    <body>
      <header id="navigation-header">
          <div id="navigation-container" class="container text-right">
              <a id="logo-link" href="#">
                  <img class="hidden-xs" id="logo-image" src="/static/images/sw_logo_white_02.png">
                  <img class="hidden-sm hidden-md hidden-lg img-responsive" id="logo-image-small" src="/static/images/sw_logo_white_02_sm.png">
              </a>
              <div id="navigation-button-container">
                  <form class="navbar-search hidden-xs" action="http://localhost:5000/search">
                      <input name="query" type="text" class="search-query" placeholder="Search">
                      <button id="search-button"><span id="search-icon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </button>
                  </form>
                  <div class="navigation-buttons">
                      <div class="navigation-button"><a href="/" class="navigation-link {{ page_links }}">Links</a>
                      </div>
                      <div class="navigation-button"><a href="/calibrate" class="navigation-link {{ page_calibrate }}">Calibrate</a>
                      </div>
                      <div class="navigation-button"><a href="/snap" class="navigation-link {{ page_submit }}">Snap</a>
                      </div>
                      <div class="navigation-button"><a href="/teach" class="navigation-link {{ page_teach }}">Teach</a>
                      </div>
                  </div>
              </div>
          </div>
      </header>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        {{ script_tag('lib/jquery') }}
        {{ script_tag('lib/bootstrap') }}
        <script>window.RAPID = {};</script>

        {% block js %}
        {% endblock %}

    </body>
</html>
